.env
.env.*
**/.env
**/.env.*
*.local
auth.json

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.vs/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.sln.docstates

.idea/
*.iws

.DS_Store
Thumbs.db
node_modules/
.npm/
.eslintcache
.cache/
dist/
build/